WPF APP/MVVM/Web References/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_IService1_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://wcfazure220200703020416multi.azurewebsites.net/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://wcfazure220200703020416multi.azurewebsites.net/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://wcfazure220200703020416multi.azurewebsites.net/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfAzure2" />
      <xsd:import schemaLocation="https://wcfazure220200703020416multi.azurewebsites.net/Service1.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_Players_InputMessage">
    <wsdl:part name="parameters" element="tns:Players" />
  </wsdl:message>
  <wsdl:message name="IService1_Players_OutputMessage">
    <wsdl:part name="parameters" element="tns:PlayersResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Iniciar_InputMessage">
    <wsdl:part name="parameters" element="tns:Iniciar" />
  </wsdl:message>
  <wsdl:message name="IService1_Iniciar_OutputMessage">
    <wsdl:part name="parameters" element="tns:IniciarResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Limpiar_InputMessage">
    <wsdl:part name="parameters" element="tns:Limpiar" />
  </wsdl:message>
  <wsdl:message name="IService1_Limpiar_OutputMessage">
    <wsdl:part name="parameters" element="tns:LimpiarResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ActualizarJuego_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarJuego" />
  </wsdl:message>
  <wsdl:message name="IService1_ActualizarJuego_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarJuegoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getJuego_InputMessage">
    <wsdl:part name="parameters" element="tns:getJuego" />
  </wsdl:message>
  <wsdl:message name="IService1_getJuego_OutputMessage">
    <wsdl:part name="parameters" element="tns:getJuegoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_EliminarJuego_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarJuego" />
  </wsdl:message>
  <wsdl:message name="IService1_EliminarJuego_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarJuegoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ListaJuego_InputMessage">
    <wsdl:part name="parameters" element="tns:ListaJuego" />
  </wsdl:message>
  <wsdl:message name="IService1_ListaJuego_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListaJuegoResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="Players">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Players" message="tns:IService1_Players_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/PlayersResponse" message="tns:IService1_Players_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Iniciar">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Iniciar" message="tns:IService1_Iniciar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/IniciarResponse" message="tns:IService1_Iniciar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Limpiar">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Limpiar" message="tns:IService1_Limpiar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/LimpiarResponse" message="tns:IService1_Limpiar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarJuego">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ActualizarJuego" message="tns:IService1_ActualizarJuego_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ActualizarJuegoResponse" message="tns:IService1_ActualizarJuego_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getJuego">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getJuego" message="tns:IService1_getJuego_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getJuegoResponse" message="tns:IService1_getJuego_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarJuego">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/EliminarJuego" message="tns:IService1_EliminarJuego_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/EliminarJuegoResponse" message="tns:IService1_EliminarJuego_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListaJuego">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ListaJuego" message="tns:IService1_ListaJuego_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ListaJuegoResponse" message="tns:IService1_ListaJuego_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Players">
      <soap:operation soapAction="http://tempuri.org/IService1/Players" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Iniciar">
      <soap:operation soapAction="http://tempuri.org/IService1/Iniciar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Limpiar">
      <soap:operation soapAction="http://tempuri.org/IService1/Limpiar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarJuego">
      <soap:operation soapAction="http://tempuri.org/IService1/ActualizarJuego" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getJuego">
      <soap:operation soapAction="http://tempuri.org/IService1/getJuego" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarJuego">
      <soap:operation soapAction="http://tempuri.org/IService1/EliminarJuego" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListaJuego">
      <soap:operation soapAction="http://tempuri.org/IService1/ListaJuego" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_IService1" type="tns:IService1">
    <wsp:PolicyReference URI="#BasicHttpsBinding_IService1_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Players">
      <soap:operation soapAction="http://tempuri.org/IService1/Players" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Iniciar">
      <soap:operation soapAction="http://tempuri.org/IService1/Iniciar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Limpiar">
      <soap:operation soapAction="http://tempuri.org/IService1/Limpiar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarJuego">
      <soap:operation soapAction="http://tempuri.org/IService1/ActualizarJuego" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getJuego">
      <soap:operation soapAction="http://tempuri.org/IService1/getJuego" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarJuego">
      <soap:operation soapAction="http://tempuri.org/IService1/EliminarJuego" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListaJuego">
      <soap:operation soapAction="http://tempuri.org/IService1/ListaJuego" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://wcfazure220200703020416multi.azurewebsites.net/Service1.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_IService1" binding="tns:BasicHttpsBinding_IService1">
      <soap:address location="https://wcfazure220200703020416multi.azurewebsites.net/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>